
detectron2 @ git+https://github.com/facebookresearch/detectron2.git
detectron2==0.6
gdown==5.2.0
matplotlib==3.10.1
numpy==1.25.0
Pillow==11.1.0
Requests==2.32.3
streamlit==1.36.0
torch==2.6.0+cu126
